*{
    margin: 0;
}
#site{
    max-width: 1024px;
    margin: 0 auto;
    min-height: 700px;
    display: table;
    position: relative;
}
body{
    width: 100%;
}
header{
    width: 100%;
    height: 120px;
    background-color: #EEE;
    padding: 0;
    margin: 0;
    position: relative;
}
#topMenu{
    width: 100%;
    height: 30px;
    background-color: #376CB2;
}
#topMenu nav{
    width: 100%;
    height: 100%;
}
#topMenu nav ul{
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0;
     position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
#topMenu nav ul li{
    display: inline-block;
    width: 19%;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100%;
}
#head{
    width: 100%;
    height: 90px;
    background-color: #FFB52A;
}
#head .logo{
    float: left;
    margin-left: 1%;
    position: relative;
    top: 50%;
    width: 17%;
    transform: translateY(-50%); 
}
#head .logo img{
    width: 100%;
    float: left;
}   
#head .searchBar{
    float: left;
    width: 52%;
    margin-left: 1%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
fieldset{
    border: none;
}
.barra{
    width: 80%;
    float: left;
}
.botao{
    width: 10%;
    float: right;
    height: 30px;
}
fieldset .barra input{
    height: 30px;
    width: 108%;
    margin-top: 5px;
}
fieldset .botao input{
    height: 100%;
    margin-top: 7px;
}
#head .login{
    margin-left: 1%;
    float: left;
    width: 14%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    text-align: center;
    margin-left: 3%;
}
#head .login img{
    float: left;
    width: 26%;
}
#head .login p{
    float: left;
    text-align: left;
    margin-left: 4%;
}
#head .carrinho{
    margin-left: 1%;
    float: left;
    width: 10%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
#head .carrinho img{
    float: left;
    width: 32%;
}
#head .carrinho p{
    float: left;
    text-align: left;
    margin-left: 8%;
}
section{ 
    width: 100%;
    display: table;
}
.content{
    width: 75%;
    float: right;
}
aside{
    float: left;
    width: 25%;
    position: relative;
}
.slide{
    float: left;
    width: 100%;
}
.gridLast{
    float: left;
    width: 100%;
    margin-top: 5%;
}
.gridLast table tr th{
    padding: 2%;
    text-align: left;
    border-top: 2px solid Black;
} 
.tableLast tr.tableLastHeader{
    width: 100%;
}
.tableLast tr.tableLastProduct{
    width: 100%;
}
.tableLast tr.tableLastProduct td{
    width: 33.3%;
}
.topUsers{
    float: left;
    width: 100%;
    margin-top: 5%;
}
.topUsers table tr th{
    padding: 2%;
    text-align: left;
    border-top: 2px solid Black;
}
.topUsers tr.topUsersHeader{
    width: 100%;
}
.topUsers tr.tableUsersTop{
    width: 100%;
}
.topUsers tr.tableUsersTop td{
    width: 33%;
}
#footerSite{
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: #777777;
}
.abas, .abas * { /** margem, borda, padding zerados para evitar conflitos **/
    margin:0;
    padding:0;
    outline:none;
    border:0;
}
.abas { /** padrão da classe abas **/
    position:relative;
    font-size:0;
    text-align:left;
    color:#000;
    padding-top:10px;
}
.abas > input { /** posição dos inputs (abas) **/
    position:absolute;
    display:none;
}
.abas > label { /** estilo do texto nos inputs (abas)**/
    position:relative;
    z-index:1;
    display:inline-block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:1px;
    padding-top:0;
    padding-left:0;
    font-size:19px;
    line-height:45px;
    cursor:pointer;
}
.abas > label span { /** estilo da aba quando não selecionada **/
    display:block;
    padding:0px;
    background:#fff;
}
.abas > label span span { /** efeito ao selecionar aba **/
    padding:0 15px;
    background:transparent;
    transition:background .5s, color .4s;
    -o-transition:background .5s, color .4s;
    -ms-transition:background .3s, color .4s;
    -moz-transition:background .5s, color .4s;
    -webkit-transition:background .5s, color .4s;
}
.abas > label:hover span span { /** estilo da aba com mouse por cima **/
    background:#000;
    color:#fff;
}
.abas > input:checked + label span span { /** estilo da aba quando selecionada **/
    background:Red;
    color:#fff;
}
.conteudo { /**o que aparece dentro de cada aba**/
    width:100%;
    position:relative;
    height: 400px;
    color: White;
}
.aba1 .conteudo{
    background-image: url("images/produto.jpg");
    background-size: 100% 500px;
}
.aba1 .conteudo-texto{
    background-color: rgba(0,0,0,0.8);
    width: 40%;
    height: 100%;
    position: relative;
    float: right;
}    
.aba1 .conteudo-texto h1{
    padding: 30% 10% 0 10%;
}    
.aba1 .conteudo-texto p{
    padding: 0% 10% 30% 10%;
}
.aba2 div{
    background-color: Blue;
}
.aba2 .conteudo-texto{
    background-color: rgba(0,0,0,0.8);
    width: 40%;
    height: 100%;
    position: relative;
    float: left;
}    
.aba2 .conteudo-texto h1{
    padding: 30% 10% 0 10%;
}    
.aba2 .conteudo-texto p{
    padding: 0% 10% 30% 10%;
}
.aba3 div{
    background-color: Green;
    text-align: left;
}
.aba3 .conteudo-texto{
    background-color: rgba(0,0,0,0.8);
    width: 40%;
    height: 100%;
    position: relative;
    float: right;
}    
.aba3 .conteudo-texto h1{
    padding: 30% 10% 0 10%;
}    
.aba3 .conteudo-texto p{
    padding: 0% 10% 30% 10%;
}
.aba4 div{
    background-color: Purple;
}
.aba4 .conteudo-texto{
    background-color: rgba(0,0,0,0.8);
    width: 40%;
    height: 100%;
    position: relative;
    float: left;
}    
.aba4 .conteudo-texto h1{
    padding: 30% 10% 0 10%;
}    
.aba4 .conteudo-texto p{
    padding: 0% 10% 30% 10%;
}
.abas > ul { /** estilo da lista (conteudo da aba) **/
    list-style:none;
    position:relative;
    display:block;
    font-size:18px;
}
.abas > ul > li { /** estilo de cada conteudo da aba e efeito ao mudar **/
    position:absolute;
    top:0;
    left:0;
    width:100%;
    overflow:auto;
    background:#fff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    opacity:0;
    -o-transform-origin:0% 0%;
    -ms-transform-origin:0% 0%;
    -moz-transform-origin:0% 0%;
    -webkit-transform-origin:0% 0%;
    -o-transition:opacity .5s, -o-transform .5s;
    -ms-transition:opacity .5s, -ms-transform .5s;
    -moz-transition:opacity .5s, -moz-transform .5s;
    -webkit-transition:opacity .5s, -webkit-transform .5s
}
.abas > .aba1:checked ~ ul > .aba1, 
.abas > .aba2:checked ~ ul > .aba2, 
.abas > .aba3:checked ~ ul > .aba3, 
.abas > .aba4:checked ~ ul > .aba4 { /** Especificações de cada aba sobre posicionamento **/
 position:relative;
 z-index:1;
 opacity:1;
}
